/*初始化*/
* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

body {
    font: 14px/1.5 Helvetica, sans-serif;
}

/*列表布局与背景图设置*/
.playlistForm-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: #ffffff;
    height: 100vh;
    background-image: url("http://91jean.oss-cn-hangzhou.aliyuncs.com/18-10-23/86450870.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

.playlistForm-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(5px);
    background-image: inherit;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

/*标题*/
.playlistForm-wrapper > h1 {

}

.playlistForm-wrapper > .playlistForm {
}

.playlistForm-wrapper > .playlistForm > .row {
    margin: 20px;
    display: grid;
}

/*输入框样式*/
.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #17D2D6;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.inp input, textarea {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #ffffff;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.inp input:hover, textarea:hover {
    background: rgba(34, 50, 84, 0.03);
}

.inp input:focus, textarea:focus {
    background: none;
    outline: none;
}

.inp input:not(:placeholder-shown) + span, .inp textarea:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus + span, .inp textarea:focus + span {
    color: #17D2D6;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus + span + .border {
    transform: scaleX(1);
}

.inp textarea:focus + span + .border {
    transform: translateY(-6px) scaleX(1);
}

/*创建按钮样式*/
.playlistForm-wrapper > .playlistForm > .row > button {
    background-color: #17D2D6;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

}

.playlistForm-wrapper > .playlistForm > .row > button:hover {
    background-color: #17e0e4;
}

