* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    font: inherit;
}

body {
    font-size: 12px;
    line-height: 1.5;
}

/****** layout ******/
.page {
    display: flex;
    justify-content: center;
    position: relative;
    color: #ffffff;
    height: 100vh;
    background-image: url("http://91jean.oss-cn-hangzhou.aliyuncs.com/18-10-23/12380474.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

.page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(5px);
    background-image: inherit;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.page > aside {
    width: 30%;
    background: rgba(0,0,0,.4);
}

.page > main {
    flex-grow: 1;
    padding-left: 20px;
    background: rgba(0,0,0,.2);

}

/****** aside ******/
.page > aside {
    display: flex;
    color: #fff;
    flex-direction: column;
}

.newSong {
    text-align: center;
    padding: 10px;
}

.newSong.active {
    background: rgba(0, 183, 183, 0.6);
}

.songList-container {
    flex-grow: 1;
}

.songList {
    text-align: left;
    border-top: 1px solid #666;
}

.songList > li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.songList > li.active {
    background: rgba(0, 183, 183, 0.6);
}

.uploadArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.uploadArea > .dropArea {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dashed #06b7c0;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
}

.uploadArea > .uploadBtn {
    background-color: #00b7b7;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
}

.uploadArea > .uploadBtn:hover {
    background-color: #02a3c0;
}

.uploadArea > #uploadStatus {
    width: 400px;
    overflow: auto;
}

/****** main ******/

.page > main {
    color: #fff;
    padding-top: 10px;
}

.page > main > .songForm {
    font-size: 14px;
}

.page > main > .songForm > .row {
    display: flex;
    margin: 20px 5px;
}

/*输入框样式*/
.inp {
    position: relative;
    width: 100%;
    max-width: 280px;
}

.inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #17D2D6;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.inp input, textarea {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #ffffff;
    background: none;
    border-radius: 0;
    color: #ffffff;
    transition: all 0.15s ease;
}

.inp input:hover, textarea:hover {
    background: rgba(34, 50, 84, 0.03);
}

.inp input:focus, textarea:focus {
    background: none;
    outline: none;
}

.inp input:not(:placeholder-shown) + span, .inp textarea:not(:placeholder-shown) + span {
    color: #17D2D6;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus + span, .inp textarea:focus + span {
    color: #17D2D6;
    transform: translateY(-26px) scale(0.85);
}

.inp input:focus + span + .border {
    transform: scaleX(1);
}

.inp textarea:focus + span + .border {
    transform: translateY(-6px) scaleX(1);
}
/*按钮样式*/
.page > main > .songForm > .row > .save {
    background-color: #06b7c0;
    color: #fff;
    padding: 0 20px;
    line-height: 34px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.page > main > .songForm > .row > .save:hover {
    background-color: #02a3c0;
}
