*{
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
#content{
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dashed orange;
    margin: 20px;
}

#pickfiles{
    background-color: #00b7ee;
    color: #fff;
    font-size: 18px;
    padding: 0 30px;
    line-height: 44px;
    font-weight: 100;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    outline: none;
    margin: 20px;
}
#pickfiles:hover{
    background-color: #057dee;
}